{% include "assets/bootstrap.html" %}

<div class="container my-5">
      <h1>Welcome to Memespace Event</h1>
      <h3>Rules:</h3>
      <p class="article-content">
        1. Number of members in a team should not exceed 2.<br>
        2. The event will be of two rounds.<br>
        3. Usage of any browsing site or refreshing the page is strictly prohibited and if done so test will be submitted.<br>
        <h2>Round 1:</h2>
           <h4>It will consists of two types:</h4>
             1. The time alloted for this round is 10 minutes.<br>
             2. Your responses will not be considered as final unless you click on <b>SUBMIT</b> button.<br>
             3. For answering<b> NEXT </b>question ,Click on <b>NEXT</b> button.<br>
             4. Identify the memes and enter the missing text. <br>
             5. Tags should be selected from given options.<br>
             6. The score will be decided by checking the number of words guessed correctly.<br>
             7. The teams with highest scores will qualify for round 2.<br><br>
        <h2>Round 2:</h2>
           1. Create memes based on a given topic.<br>
           2. The time alloted for this round is 30 minutes.<br>
           3. The memes which are created will be judged based on relevance to the given<br>
           topic, creativity, and the meme format used.<br>

      </p>
  <a href="/questions_page" class="btn btn-primary">Start Test</a>
</div>